In [12]:
#https://lol.fandom.com/wiki/Help:Leaguepedia_API
""" 
    This is the website I used to figure out how to query API from Leaguepedia (storing all match statistics)
"""
import mwclient

#This is the LeaguePedia website that stores all match and team statistics
site = mwclient.Site('lol.fandom.com', path='/')


"""
    I searched for a quicker way to iterate for loops because it took too long to run
"""
#https://github.com/tqdm/tqdm 
from tqdm.notebook import tqdm

#pre-set the leagues I want to look at - all those that will qualify to worlds
#leagues=['LCS','LEC','LCK','LPL','CBLOL','LJL','LLA','PCS','VCS']
leagues=['LCK']

#create an empty list to store my dataset
results = []

#for loop to create my data base of match stats
for league in tqdm(leagues):
    off=0
    
    #while loop to retrive data thruogh API
    while True:
        #API query
        response = site.api('cargoquery',
                            offset=str(off),
                            
                            limit="max",
                            
                            #retrive tables
                            tables = "ScoreboardGames=SG, ScoreboardPlayers=SP,Tournaments=T, Leagues=L",
                            
                            #retrive fields as columns
                            fields="T.Name=Tournament,\
                                    L.League_Short=League,\
                                    SP.Link,\
                                    SG.DateTime_UTC, SG.Gamelength, SG.Team1, SG.Team2, SG.Team1Score, SG.Team2Score, SG.WinTeam", 
                            
                            #set condition (only include specified leagues)
                            where = 'L.League_Short = "'+league+'" & T.Name = "LCK 2016 Spring"',
                            
                            #similar to vlookup in the web pages
                            join_on = "SG.OverviewPage=T.OverviewPage, T.League = L.League, SP.MatchId=SG.MatchId")
        
        #add to database
        results += response["cargoquery"] 
        
        #speed
        off=off+500
        if(len(response["cargoquery"])<500): break
        

import pandas as pd
df_Scoreboard = pd.DataFrame([ a['title'] for a in results ])
df_Scoreboard = df_Scoreboard.drop("DateTime UTC__precision", axis=1)
df_Scoreboard.sort_values("DateTime UTC")
df_Scoreboard.head()
#df_Scoreboard.to_csv("Scoreboard.csv")

  0%|          | 0/1 [00:00<?, ?it/s]

,Tournament,League,Link,DateTime UTC,Gamelength,Team1,Team2,Team1Score,Team2Score,WinTeam
0,All-Star 2015 Los Angeles,2015 ASE,Amazing (Maurice Stückenschneider),2015-12-11 01:05:00,27:33,Team Ice,Team Fire,1,0,Team Ice
1,All-Star 2015 Los Angeles,2015 ASE,Amazing (Maurice Stückenschneider),2015-12-12 03:52:00,31:24,Team Ice,Team Fire,1,0,Team Ice
2,All-Star 2015 Los Angeles,2015 ASE,Amazing (Maurice Stückenschneider),2015-12-12 22:43:00,33:06,Team Fire,Team Ice,0,1,Team Ice
3,All-Star 2015 Los Angeles,2015 ASE,Amazing (Maurice Stückenschneider),2015-12-14 03:12:00,28:57,Team Fire,Team Ice,1,0,Team Fire
4,All-Star 2015 Los Angeles,2015 ASE,Amazing (Maurice Stückenschneider),2015-12-14 03:12:00,28:57,Team Fire,Team Ice,1,0,Team Fire

In [22]:
import pandas as pd
df = pd.DataFrame([ a['title'] for a in results ])
df = df.drop("DateTime UTC__precision", axis=1)
df.head()
#df.to_csv("Scoreboard.csv")

,Tournament,League,DateTime UTC,Gamelength,Team1,Team2,Team1Score,Team2Score,WinTeam
0,LCK 2016 Spring,LCK,2016-01-13 08:01:00,29:33,CJ Entus,SK Telecom T1,0,1,SK Telecom T1
1,LCK 2016 Spring,LCK,2016-01-13 08:51:00,42:55,SK Telecom T1,CJ Entus,2,0,SK Telecom T1
2,LCK 2016 Spring,LCK,2016-01-13 11:00:00,39:12,Afreeca Freecs,KT Rolster,0,1,KT Rolster
3,LCK 2016 Spring,LCK,2016-01-13 12:00:00,38:24,KT Rolster,Afreeca Freecs,2,0,KT Rolster
4,LCK 2016 Spring,LCK,2016-01-14 07:58:00,44:28,Longzhu Gaming,Jin Air Green Wings,1,0,Longzhu Gaming

In [16]:
#https://lol.fandom.com/wiki/Help:Leaguepedia_API
""" 
    This is the website I used to figure out how to query API from Leaguepedia (storing all match statistics)
"""
import mwclient

#This is the LeaguePedia website that stores all match and team statistics
site = mwclient.Site('lol.fandom.com', path='/')


"""
    I searched for a quicker way to iterate for loops because it took too long to run
"""
#https://github.com/tqdm/tqdm 
from tqdm.notebook import tqdm

#pre-set the leagues I want to look at - all those that will qualify to worlds
#leagues=['LCS','LEC','LCK','LPL','CBLOL','LJL','LLA','PCS','VCS']
leagues=['LCK']

#create an empty list to store my dataset
results = []

#for loop to create my data base of match stats
for league in tqdm(leagues):
    off=0
    
    #while loop to retrive data thruogh API
    while True:
        #API query
        response = site.api('cargoquery',
                            offset=str(off),
                            
                            limit="max",
                            
                            #retrive tables
                            tables = "Teams=T, Players=P",
                            
                            #retrive fields as columns
                            fields="P.Team=Team, P.ID=ID, P.Nationality, P.Country,P.Birthdate,\
                                    T.Region=Region, T.Short", 
                            
                            #set condition 
                            #where = 'T.Name = P.Team',
                            
                            #similar to vlookup in the web pages
                            join_on = "T.Name = P.Team")
        
        #add to database
        results += response["cargoquery"] 
        
        #speed
        off=off+500
        if(len(response["cargoquery"])<500): break

        
        
import pandas as pd
df_Players = pd.DataFrame([ a['title'] for a in results ])

#drop birthdate precision
df_Players = df_Players.drop("Birthdate__precision", axis=1)

df_Players.head()
#df_Players.to_csv("Players.csv")

  0%|          | 0/1 [00:00<?, ?it/s]

   Team    ID Nationality Country Birthdate   Region Short
0  None  None        None    None      None  Vietnam    TF
1  None  None        None    None      None    Korea  DK.A
2  None  None        None    None      None     EMEA   YTR
3  None  None        None    None      None   Europe  RIFT
4  None  None        None    None      None   Europe  NERO

In [20]:
df_stats = df_Scoreboard.merge(df_Players, left_on = 'Team1', right_on = 'Team', how = 'left')
df_stats.head()
df_stats.to_csv("Merged.csv")